[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
kaggle = "*"
jinja2 = "*"
scipy = "*"
plotly = "*"
seaborn = "*"
xgboost = "*"
geopandas = "*"
scikit-optimize = "*"
imbalanced-learn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
